<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 editArea animate-show">
        <div class="row">
            <form name="details">
                <div class="col-md-12">
                    <br>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" ng-model="page.active"> <span ng-show="new">Make </span>Active
                        </label>
                    </div>
                    <ul class="nav nav-tabs lngTabs" ng-show="tabs">
                        <li ng-class="{active: pageEdit === page.en}" uib-tooltip="English"><a ng-click="editLng(page.en)">EN</a></li>
                        <li ng-class="{active: pageEdit === page.es}" uib-tooltip="Spanish"><a ng-click="editLng(page.es)">ES</a></li>
                    </ul>
                </div>
                <div class="form-group col-md-4">
                    <label>Page Title</label>
                    <input type="text" ng-model="pageEdit.title" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Page URL</label>
                    <input type="text" ng-model="pageEdit.url" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <h4 class="text-right" ng-hide="new"><small>Published:</small><br><span class="accentText">{{page.publishDate | bindDate}}</span></h4>
                    <div ng-show="new">
                        <label>Publish Date <small>mm/dd/yyyy</small></label>
                        <input type="text" class="form-control" ng-model="page.publishDate" ui-mask="99/99/9999" date />
                    </div>
                </div>
                <div class="form-group col-md-12 wysyEdit">
                    <label>Page Body</label>
                    <text-angular ng-model="pageEdit.pagehtml" ng-if="!loading"></text-angular>
                </div>
                <div class="form-group col-md-12">
                    <br />
                    <div class="text-right">
                        <button type="button" ng-click="delete()" class="btn btn-default btn-xs">Delete Page</button>
                    </div>
                    <button type="button" ng-click="publish()" class="btn btn-success btn-lg btn-mega animate-show" ng-hide="details.$pristine"><span class="glyphicon glyphicon-floppy-save"></span> Publish Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
