<div class="adminMenu">
    <ul class="list-unstyled">
        <li class="text-center"><a ui-sref="ezAnalytics" ui-sref-active="active"><span class="glyphicon glyphicon-paperclip"></span><br><span class="menuItemText">Analyze</span></a></li>
		<li class="text-center"><a ui-sref="pages" ui-sref-active="active"><span class="glyphicon glyphicon-file"></span><br><span class="menuItemText">Pages</span></a></li>
        <li class="text-center"><a ui-sref="ezLanding" ui-sref-active="active"><span class="glyphicon glyphicon-pushpin"></span><br><span class="menuItemText">Landing</span></a></li>
        <li class="text-center"><a ui-sref="ezBlog" ui-sref-active="active"><span class="glyphicon glyphicon-link"></span><br><span class="menuItemText">Blog</span></a></li>
        <li class="text-center"><a ui-sref="ezSettings" ui-sref-active="active"><span class="glyphicon glyphicon-cog"></span><br><span class="menuItemText">Settings</span></a></li>
    </ul>

    <div class="user">
        <img src="assets/images/userLogo.png" class="userLogo" />
    </div>
</div>
