<div id="newPage" class="modal-body">
	<div class="text-right">
		<a ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
	</div>
	<form name="newPageForm" ng-submit="ok(newPage)">
		<div class="form-group">
			<label>Name:</label>
			<input type="text" ng-model="newPage.name" class="form-control" required>
		</div>
		<div id="pageDatePick" class="form-group">
			<label>Publish Date:</label>
			<input uib-datepicker-popup type="hidden" class="form-control" ng-model="newPage.publishDate" is-open="datePicker" datepicker-options="dateOptions" ng-required="true" />

			<button type="button" class="btn btn-default btn-sm" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i><span ng-hide="newPage.publishDate"> &nbsp;Select a Date</span></button>
			{{newPage.publishDate | date:'fullDate'}}
		</div>
		<div class="form-group">
			<div class="btn-group">
				<label class="btn btn-default btn-sm" ng-model="newPage.active" uib-btn-radio="true">Yes</label>
        		<label class="btn btn-default btn-sm" ng-model="newPage.active" uib-btn-radio="false">No</label>
			</div>
			&nbsp;Make Active
		</div>
		<br />
		<button type="submit" class="btn btn-success" ng-disabled="newPageForm.$invalid">Create Page</button>
	</form>
</div>
