<div id="blog" class="container-fluid">
    <div class="row">
        <div class="col-md-12 pageCol">
            <loader ng-show="vm.loading"></loader>
            <div class="col-md-11">
                <h1 class="mainTitle"><i class="fa fa-rss accentText"></i> Blog</h1>
                <hr>
            </div>
            <div class="col-md-11">
                <form name="pageTools" class="form-inline row" ng-init="sortReverse = false">
                    <div class="col-md-2 col-sm-3" ng-hide="vm.blogPosts.length == 0 || !vm.blogPosts">
                        <a class="btn btn-default btn-block" ng-click="vm.createPage()"><span class="glyphicon glyphicon-plus"></span> New Post</a>
                        <br class="visible-xs" ng-hide="vm.blogPosts.length <= 10" />
                    </div>
                    <div class="col-md-4 col-sm-4" ng-hide="vm.blogPosts.length <= 10">
                        <input class="form-control input-block" ng-model="pagesFilter" placeholder="Filter Posts">
                        <br class="visible-xs" />
                    </div>
                    <div class="col-md-6 col-sm-5" ng-hide="vm.blogPosts.length <= 10">
                        <div class="btn-group pull-right">
                            <label class="btn btn-default" ng-model="sortReverse" uib-btn-radio="true">Asc</label>
                            <label class="btn btn-default" ng-model="sortReverse" uib-btn-radio="false">Desc</label>
                        </div>
                        <br class="visible-xs" />
                    </div>
                </form>
            </div>
            <div class="col-md-11 editingTable" ng-show="vm.blogPosts.length !== 0">
                <div class="tableHead">
                    <div class="col-md-4 col-sm-6">
                        <i ng-hide="vm.blogPosts.length <= 10" ng-click="sortType = 'name'; sortReverse = !sortReverse" class="sorter fa" ng-class="{'fa-chevron-circle-up': !sortReverse, 'fa-chevron-circle-down': sortReverse}"></i> Post
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <i ng-hide="vm.blogPosts.length <= 10" ng-click="sortType = 'name'; sortReverse = !sortReverse" class="sorter fa" ng-class="{'fa-chevron-circle-up': !sortReverse, 'fa-chevron-circle-down': sortReverse}"></i> Published
                    </div>
                    <div class="col-md-4 col-sm-6 text-right hidden-xs">
                        <i ng-hide="vm.blogPosts.length <= 10" ng-click="sortType = 'active'; sortReverse = !sortReverse" class="sorter fa" ng-class="{'fa-chevron-circle-up': !sortReverse, 'fa-chevron-circle-down': sortReverse}"></i> Status
                    </div>
                </div>
                <div class="well well-sm" ng-show="(vm.blogPosts | filter: pagesFilter).length == 0">Sorry, no results for <strong class="accentText">{{pagesFilter}}</strong></div>
                <div class="editingRow" dir-paginate="page in vm.blogPosts | filter: pagesFilter | orderBy: sortType:!sortReverse | itemsPerPage: 10">
                    <post-listing dynamic="true" page="page" edit="vm.editPage(page.id)"></post-listing>
                </div>
                <dir-pagination-controls></dir-pagination-controls>
            </div>
            <div class="col-md-11 editingTable" ng-show="vm.blogPosts.length == 0 || !vm.blogPosts">
                <button type="button" class="btn-panel" ng-click="vm.createPage()"><span class="emtAddBtnIcon glyphicon glyphicon-plus"></span>ADD A PAGE</button>
                <hr>
            </div>
        </div>
    </div>
</div>
