<div id="lndPage" class="row" ng-controller="LndPageCtrl">
    <loader ng-show="loading"></loader>
    <div class="col-md-11">
        <h1 class="mainTitle"><span class="glyphicon glyphicon-pushpin accentText"></span> <span ng-show="newPost">New</span><span ng-hide="newPost">Edit</span> Landing Page</h1>
        <hr>
    </div>
    <div class="col-md-11">
        <a ui-sref="ezLanding"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </div>
    <div class="col-md-11 editingTable">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 panel panel-custom">
                    <div class="panel-body">
                        <lnd-details page="page" tabs="multilingual" getimg="imgGallery()" new="newPost" publish="publishLndPage()" delete="deleteLndPage()" ng-if="!loading"></lnd-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
