<div id="pages" class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <loader ng-show="loading"></loader>
            <div class="col-md-11">
                <h1 class="mainTitle"><span class="glyphicon glyphicon-file accentText"></span> Pages</h1>
                <hr>
            </div>
            <div class="col-md-11 editingTable">
                <div class="tableHead">
                    <div class="col-md-12">Page</div>
                </div>
                <div class="editingRow" ng-repeat="page in vm.pages" ng-class="{'subPage': page.subPage}">
                    <pg-listing page="page" edit="vm.editPage(page.id)"></pg-listing>
                </div>
            </div>
        </div>
    </div>
</div>
