<div id="settings" class="container-fluid">
    <div class="row">
        <div class="col-md-11 col-md-offset-1">
            <loader ng-show="loading"></loader>
            <div class="col-md-11">
                <h1 class="mainTitle"><span class="glyphicon glyphicon-cog accentText"></span> Settings</h1>
                <hr>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-11">
                                <span class="userIcon glyphicon glyphicon-user pull-left"></span>
                                <h3>{{settings.user.name}}<br><small>{{settings.user.role}}</small></h3>
                                <button type="button" class="btn btn-default btn-xs" ng-click="passwordChange()">Change Password</button>
                                <button type="button" class="btn btn-default btn-xs">Logout</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"><br /><br /><hr></div>
                    <div class="col-md-6">
                        <h3>Modules</h3>
                        <br />
                        <form name="modulesForm" class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <label class="btn btn-primary btn-sm" ng-model="settings.landing" uib-btn-radio="true">ON</label>
                                    <label class="btn btn-primary btn-sm" ng-model="settings.landing" uib-btn-radio="false">OFF</label>
                                </div>
                                <span class="moduleLabels">Landing Pages</span>
                            </div>
                            <div class="col-md-12"><br /><br /></div>
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <label class="btn btn-primary btn-sm" ng-model="settings.blog" uib-btn-radio="true">ON</label>
                                    <label class="btn btn-primary btn-sm" ng-model="settings.blog" uib-btn-radio="false">OFF</label>
                                </div>
                                <span class="moduleLabels">Blog Pages</span>
                            </div>
                            <div class="col-md-12"><br /><br /></div>
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <label class="btn btn-primary btn-sm" ng-model="settings.analytics" uib-btn-radio="true">ON</label>
                                    <label class="btn btn-primary btn-sm" ng-model="settings.analytics" uib-btn-radio="false">OFF</label>
                                </div>
                                <span class="moduleLabels">Site Analytics</span>
                            </div>
                            <div class="col-md-12"><br /><br /></div>
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <label class="btn btn-primary btn-sm" ng-model="settings.spanish" uib-btn-radio="true">ON</label>
                                    <label class="btn btn-primary btn-sm" ng-model="settings.spanish" uib-btn-radio="false">OFF</label>
                                </div>
                                <span class="moduleLabels">Spanish Website</span>
                            </div>
                            <div class="col-md-12" ng-show="modulesForm.$dirty">
                                <br />
                                <button type="button" class="btn btn-success">Submit Changes</button>
                            </div>
                        </form>
                        <br /><br />
                    </div>
                    <div class="col-md-5">
                        <h3>Google Analytics</h3>
                        <br />
                        <form name="googleNumbers">
                            <div class="form-group">
                                <label>Client ID</label>
                                <input type="text" ng-model="settings.googleClientID" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>View ID</label>
                                <input type="text" ng-model="settings.googleViewID" class="form-control">
                            </div>
                            <div class="form-group" ng-show="googleNumbers.$dirty">
                                <button type="button" class="btn btn-success">Submit Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
